<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>COVID-19 Analytics</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
</head>
<body>
    <div id="map"></div>
    <mat-card class="counter">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>World COVID-19 counter </mat-card-title>
            <mat-card-subtitle>Confirmed: {{confirmed}}</mat-card-subtitle>
            <mat-card-subtitle>Recovered: {{recovered}}</mat-card-subtitle>
            <mat-card-subtitle>Deaths: {{deaths}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      


</body>

</html>